@charset "utf-8";

.main {
    flex: 1; 
    padding: 60px 0;
}

.main-visual {
    width: 100%;
    height: 400px;
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px;
}

/* 슬라이더 */
#slider {
    width: 100%;
    height: 420px;
}

#new
{
    width: 100%;
    height: 390px;
    background-color: #eee;
}
#new .container {
    flex-wrap: wrap;
    
}

#new h2{
    width: 15%;
}

#new li {
    float: left;
    padding: 0 10px;
}

#new a {
    width: 15%;
    text-align: right;
}

#new .books {
    width: 100%;
    height: 90%;
    background-color: tomato;
    position: relative;
    
}

#new .books> div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

#new .books> div:not(:first-child) {display: none;}

#new .book {
    width: calc(93% / 7);
}
#new .book img{width: 100%;}

.book p {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#new .book span:nth-of-type(1){
    text-decoration: line-through;
    font-size: 15px;
}

#new .book span:nth-of-type(2){
    font-size: 15px;
    font-weight: bold;
}



#price{
    width: 100%;
    height: 950px;
    background-color: antiquewhite;
}

#price .container{
    text-align: center;
    text-align: justify;
    



}

#price .corner{
    width: 65%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:space-evenly; 
    text-align: center;
    text-align: justify;

    
}

#price .certify{
    width: 35%;
    height: 100%;
}

#price h2{
    width: 20%;  

    
}

#price li{
    float: left;
    padding: 0 10px;
    

}

#price a {
    width: 20%;
    text-align: right;

}

#price .books{
    width: 100%;
    height: 90%;
    background-color: greenyellow;
    position: relative;
      
    

    
}

#price .books> div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#price .books> div:not(:first-child) {display: none;}

#price .book {
    width: 21%;
    height: 90px;
    background-color: pink;
    font-size: 10px;
}
#price .book img{width: 100%;
                 height: auto;
                 object-fit: cover;
}

#price .book p:nth-of-type(1){
    text-decoration: line-through;
    font-size: 10px;
   
}

#price .book p:nth-of-type(2){
    font-size: 10px;
    font-weight: bold;
    
  
}


#certify
{
    width: 100%;
    height: 390px;
    background-color: #eee;
}
#certify .container {
    flex-wrap: wrap;
    
}

#certify h2{
    width: 15%;
}

#certify li {
    float: left;
    padding: 0 10px;
}

#certify a {
    width: 15%;
    text-align: right;
}

#certify .books {
    width: 100%;
    height: 90%;
    background-color: tomato;
    position: relative;
    
}

#certify .books> div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

#certify .books> div:not(:first-child) {display: none;}

#certify .book {
    width: calc(93% / 7);
}
#certify .book img{width: 100%;}

#certify .book p:nth-of-type(1){
    text-decoration: line-through;
    font-size: 15px;
}

#certify .book p:nth-of-type(2){
    font-size: 15px;
    font-weight: bold;
}





/* 섹션 */
section {
    width: 1100px;
    height: 280px;
    margin: 0 auto;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
}

.content {
    width: 340px;
    height: 100px;
    /* float: left;
    margin: 65px 13px; */
    background-color: olive;
}